@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --text:var(#fff);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#ff9500,#ff7700);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    color: #ff9500;
    background: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#ff7700 ,transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    /* right: -350px; */
    color: #ff9500;
    white-space: nowrap;
    font-size: 2.0vw;
    z-index: 9;
    /* text-shadow: 0.1em 0.1em 0.01em rgb(0, 0, 0); */
    background: #fff;
    border-radius: 20px;
    padding: 8px 30px;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #ff9500;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    /* background: #000; */
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 25px;
    color: #fff;
    margin-left: 42%;
}

.sec p {
     font-size: 1.2em;
     color: #fff;
}

.card p {
    color: #ff9500;
}

#imgs-vips {
    filter: sepia(100%);
}

#mountains_behind {
    filter: sepia(33%);
    filter: drop-shadow(10%);
}


footer img {
    height: 80px;
    width: 500px;
}

#button-icon-discord img {
    height: 70px;
    width: 70px;
    position: fixed;  
    right: 15px; 
    bottom: 15px;
    
}

audio {
    display: none;
}


@media (max-width: 785px) {
    
    #text {
        position: absolute;
        /* right: -350px; */
        color: #ff9500;
        white-space: nowrap;
        font-size: 4vw;
        z-index: 9;
        /* text-shadow: 0.1em 0.1em 0.01em rgb(0, 0, 0); */
        background: #fff;
        border-radius: 20px;
        padding: 8px 30px;
    }    

    header .logo {
        width: 1px;
        height: 1px;
        margin: -83px;
        display: block;
        z-index: 1000;
        font-size: 1em;
      }
      .sec h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        margin-left: 25px;
        color: #fff;
    }

    footer img {
        height: 60px;
        width: 300px;
    }

    section img {
        display: none;
    }


    #moon {
        display: flex;
    }

    #text {
        position: absolute;
        color: #ff9500;
        white-space: nowrap;
        font-size: 5vw;
        z-index: 9;
        background: #fff;
        border-radius: 20px;
        padding: 9px 30px;
     }
}